{% extends 'base_app.html.twig' %}
{% block style %}
	 <link type="text/css" rel="stylesheet" href="{{asset('themeapp/css/creditcard.css')}}" media="screen,projection" />  

{% endblock %}

{% block header %}
    <nav>
      <div class="nav-wrapper principal_bg">
        <ul class="left">
          <li><a href="javascript:window.history.back();"><i class="material-icons">keyboard_backspace</i></a></li>
        </ul>
        <a href="#!" class="brand-logo">Recargar Cuenta</a>
        <ul class="right">
          <li><a class='dropdown-button' href='#' data-activates='menu2'><i class="material-icons">more_vert</i></a></li>
        </ul>
        <!-- Menu 2 -->
        <ul id='menu2' class='dropdown-content'>
          <li><a href="#!">Ajustes de Seguridad</a></li>
          <li><a href="#!">Solicitar Credito</a></li>
          <li class="divider"></li>
          <li><a href="#!">Información</a></li>
          <li><a href="{{asset('logout')}}">Cerrar Sesión</a></li>
        </ul>
      </div>
    </nav>
{% endblock %}
{% block body %}

<section id="section-recarga" class="container mt-10">
  <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content ">
            <div class="input-field ">
              <p class="center title_2"> Valor a recargar (MXN) </p>
              <input type="number" name="valor" placeholder="0" id="valor"  class="validate valor_principal" onkeydown="return soloNumeros(event)">
            </div>

          </div>
        </div>
       </div>
  </div>
<div class="row">
    <div class="col s12">
        <ul class="collection with-header">
          <li class="collection-header">
            <h4>Métodos de pago</h4>
          </li>
          <li style="display: none;" id="copie_card">
           <a href="#" data-token="" data-medio="card" class="collection-item waves-light waves-effect overinit">
            <img src="{{asset('themeapp/img/icons_cc/mc.png')}}" class="cc_img" alt=""><span class="ultimos4">4242</span><div class="secondary-content"><i class="material-icons">keyboard_arrow_right</i></div>
          </a>
          </li>
          <a href="#" data-token="tok_test_visa_4242" data-medio="card" class="collection-item waves-light waves-effect overinit">
            <img src="{{asset('themeapp/img/icons_cc/mc.png')}}" class="cc_img" alt="">4242<div class="secondary-content"><i class="material-icons">keyboard_arrow_right</i></div>
          </a>

          <a href="#" data-medio="spei" class="collection-item waves-light waves-effect overinit">
            <img src="{{asset('themeapp/img/icons_cc/spei.png')}}" class="cc_img" alt="">Transferencia bancaria <div class="secondary-content"><i class="material-icons">keyboard_arrow_right</i></div>
          </a>
          <a href="#" data-medio="oxxo_cash" class="collection-item waves-light waves-effect overinit">
            <img src="{{asset('themeapp/img/icons_cc/oxxo.png')}}" class="cc_img" alt="">Pago en eféctivo<div class="secondary-content"><i class="material-icons">keyboard_arrow_right</i></div>
          </a>
          <a href="#" id="add-tc" class=" collection-item waves-light waves-effect overinit">
            <i class="material-icons left">add</i> Agregar tarjeta Credito /Debito <div class="secondary-content"><i class="material-icons">keyboard_arrow_right</i></div>
          </a>

        </ul>
      </div>
</div>
</section>

<section id="section-add-tc" style="display: none">
  <div class="row">
    <br/><br/>

<form action="#" method="POST" id="card-form">

  <span class="card-errors"></span>

    <div class="row">
        <div class="input-field col s12">
                 <input placeholder="Ingrese número de tarjeta" id="card_number" type="text" type="text" size="20" name="card_number" maxlength="16" data-conekta="card[number]" onkeydown="return soloNumeros(event)">
                 <label for="first_name">Núm. de tarjeta</label>
        </div>
        <div class="input-field col s12">
              <div>
              
                  <input type="text"  name="card_month" placeholder="MM" style="width:25px;" size="2" data-conekta="card[exp_month]"onkeydown="return soloNumeros(event)">
                <span style="">/</span>
                <input type="text" name="card_year" id="card_year" placeholder="YYYY" style="width:40px; " size="4" data-conekta="card[exp_year]" onkeydown="return soloNumeros(event)">

                  <label>
                  <span>Fecha de expiración (MM/AAAA) </span>
                     </label>
             
              </div>
        </div>
        <div class="input-field col s12">
                 <input placeholder="Ingrese código de seguridad" id="cvv" type="text" class="validate" data-conekta="card[cvv]" onkeydown="return soloNumeros(event)">
                 <label for="first_name">CVV</label>
                 <img src="{{asset('themeapp/img/card_cvv.jpg')}}" class="img_cvv" alt="">
        </div>

        <div class="input-field col s12">
                 <input placeholder="Nombres Dueño Tarjeta" id="card_nombres" type="text" class="validate" name="card_names" data-conekta="card[name]" maxlength="100">
                 <label for="first_name">Nombres</label>
                 <img src="" class="img_cvv" alt="">
        </div>
          <div class="input-field col s12">
              <button type="submit" id="agregar_tc" class="btn-app disabled  bg_principal waves-effect waves-darken btn"> Agregar </button>
        </div>
    </div>
  

</form>
</div>
</section>


<section id="section-confirmacion" class="mt-4" >
  
  <div class="row">

  <form method="POST" action="{{asset('payment/conekta')}}" >
  <input type="hidden" name="medio_pago" id="conekta_medio_pago" value=""> 
  <input type="hidden" name="valor" id="conekta_valor" value="">
  <input type="hidden" name="token_id" id="conekta_token_id" value=""> 
  
      <div class="col s12">
        <div class="card">
          <table class="bordered">
            <tbody>
              <tr>
                <td><b>MEDIO DE PAGO</b></td>
                <td class="right" id="html_medio" style="font-size: 2.28rem">
                  <img class="tc_min" height="20px" src="img/icons_cc/visa.png" alt="">
                  <h4 class="text_pines"> ●●●● 6765</h4>
                </td>
              </tr>
              <tr>
                <td><b>VALOR (MXN)</b></td>
                <td class="right">
                  <h4 class="text_pines">$ <span id="valor_confirmacion">2000</span> MX  </h4>
                </td>
            </tr></tbody>
          </table>
        </div>
      </div>
      <div class="col s12">
            
             <button type="submit" id="confirmar" class="btn-app  bg_principal waves-effect waves-darken btn"> Realizar Recarga </button>
      </div>
   
</form>
</div>
</section>




{% endblock %}


{% block javascripts %}
<script type="text/javascript">
  var medio="";
  var token_id="";

  $("#section-confirmacion").hide();

  $(".collection-item").click(function(){
    if($("#valor").val()<0 || $("#valor").val()==""){
     
     Materialize.toast('Ingrese un valor para recargar!', 4000)
    }else{

        medio=$(this).data('medio');
        $("#valor_confirmacion").html($("#valor").val());
        $("#html_medio").html($(this).html());
        $('#html_medio').find('.secondary-content').remove();
        $("#section-recarga").hide();
        $("#section-confirmacion").show();
        
        if(medio=='card'){
          token_id=$(this).data('token');
        }
       $("#conekta_valor").val($("#valor").val());
       $("#conekta_medio_pago").val(medio);
       $("#conekta_token_id").val(token_id);
         
    }
  })
  $("#card_nombres").blur(function(){
    
    valid=$('#card-form').valid();
    if(valid){
      $("#agregar_tc").attr('disabled',false);
      $("#agregar_tc").removeClass('disabled');
    }

  })

  $("#add-tc").click(function(e){
    e.preventDefault();
    $("#section-recarga").hide();
    $("#section-add-tc").show();
  })

  function soloNumeros(e)
  {
    var key = window.Event ? e.which : e.keyCode
    return ((key >= 48 && key <= 57) || (key==8))
  }

  $('#card-form').validate({
        rules: {
            
            'card_number': {
                required: true,
            },
            'card_year': {
                required: true,
            },
            'card_month': {
                required: true,
            },
            'card_cvv': {
                required: true,
            },   
            'card_names': {
                required: true,
            },           
        },
        messages:{
            
            'card_number':{
                required:'El número de la tarjeta es obligatorio',
            },
            'card_year':{
                required:'El año de la tarjeta es obligatorio',
            },
            'card_month':{
                required:'El mes de la tarjeta es obligatorio',
            },
            'card_cvv':{
                required:'El cvv de la tarjeta es obligatorio',
            },
            'card_names':{
                required:'El nombre de la tarjeta es obligatorio',
            },
           
        },
        highlight: function (input) {
            
            $(input).addClass('data-error');
        },
        unhighlight: function (input) {
            $(input).removeClass('data-succes');
        },
        errorPlacement: function (error, element) {
            var errorspan=$("<div class='error'>"+$(error[0]).html()+"</div>");
            $(element).parents('.input-field').find('.error').remove();
            $(element).parents('.input-field').append(errorspan);
        }
        
        
    });
</script>


<script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>

<script type="text/javascript" >
  Conekta.setPublicKey('key_KJysdbf6PotS2ut2');

  var conektaSuccessResponseHandler = function(token) {
    

    var brand=Conekta.card.getBrand($('#card_number').val());
    card_number=$('#card_number').val();

    var ultimos4=$('#card_number').val().substring(card_number.length-4,card_number.length);

    var htmlcopia=$('#copie_card a').clone(true);
    $(htmlcopia).find('.ultimos4').text(ultimos4);
    $(htmlcopia).attr('data-token',token.id);
    
    $(htmlcopia).insertAfter($('#copie_card'));

    var $form = $("#card-form");
    //Inserta el token_id en la forma para que se envíe al servidor
     $form.append($('<input type="hidden" name="conektaTokenId" id="conektaTokenId">').val(token.id));
     $('#section-add-tc').hide();
     $('#section-recarga').show();
     // $form.get(0).submit(); //Hace submit
  };
  var conektaErrorResponseHandler = function(response) {
    var $form = $("#card-form");
    $form.find(".card-errors").text(response.message_to_purchaser);
    $form.find("button").prop("disabled", false);
  };

  //jQuery para que genere el token después de dar click en submit
  $(function () {

    $('#card-form').validate();

    $("#card-form").submit(function(event) {
      var $form = $(this);
      $form.find("button").prop("disabled", true);

      // Previene hacer submit más de una vez
      if($('#card-form').valid()){
         Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
        return false;
      }
      else{
      $form.find("button").prop("disabled", false);

      }
    });
  });
</script>

{% endblock %}