{% extends 'base_app.html.twig' %}

 {% if orden._values.payment_status=='paid' %}
 {% set estado='Aceptada' %}
 {% else %}
  {% set estado=orden._values.payment_status %}
  
  {% if type=="oxxo_cash" %}
    {% set estado="Oxxo" %}
  {% endif %}
   {% if type=="spei" %}
    {% set estado="Spei" %}
  {% endif %}
 {% endif %}
{% block style %}
   <link type="text/css" rel="stylesheet" href="{{asset('themeapp/css/responses.css')}}" media="screen,projection" />  

{% endblock %}
{% block header %}
    <nav>
      <div class="nav-wrapper principal_bg">
        <ul class="left">
          <li><a href="javascript:window.history.back();"><i class="material-icons">keyboard_backspace</i></a></li>
        </ul>
        <a href="#!" class="brand-logo">Transacción {{estado}} </a>
        <ul class="right">
          <li><a class='dropdown-button' href='#' data-activates='menu2'><i class="material-icons">more_vert</i></a></li>
        </ul>
        <!-- Menu 2 -->
        <ul id='menu2' class='dropdown-content'>
          <li><a href="#!">Ajustes de Seguridad</a></li>
          <li><a href="#!">Solicitar Credito</a></li>
          <li class="divider"></li>
          <li><a href="#!">Información</a></li>
          <li><a href="{{asset('logout')}}">Cerrar Sesión</a></li>
        </ul>
      </div>
    </nav>
{% endblock %}
{% block body %}
 
{% if type=="oxxo_cash" %}
<section class="mt-4">
    <div class="row">
      <div class="col s6">
        <img class="responsive-img" src="{{asset('themeapp/img/icons_cc/oxxo-pay.webp')}}" alt="">
      </div>
      <div class="col s6">
        <span class="subs">MONTO A PAGAR</span>
        <h4 class="value">$ {{orden._values.amount|slice(0,-2)|number_format(0)}} <sup><small class="sup">MXN</small></sup> </h4>
        <p class="message"> <small> <i>OXXO  cobrará una comisión adicional al momento de realizar el pago.</i> </small> </p>
      </div>

      <div class="col s12">
        <p class="m0 "><b>REFERENCIA</b></p>
        <div class="card">
          <div class="card-content2">
              <h3 class="center m0"> {{reference}}</h3>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col s12">
        <p class="m0 "><b>INSTRUCCIONES</b></p>
        <ol class="steps">
          <li>Acude ala tienda OXXO más cercana.</li>
          <li>Indica en caja que quieres realizar un pago de <b>OXXOPay</b>. </li>
          <li>Dicta al cajero el número de referencia en esta ficha para que tecleé directamente en la pantalla de venta.</li>
          <li>Realiza el pago correspondiente con dinero en efectivo.</li>
          <li>Al confirmar tu pago, el cajero te entregará un comprobante impreso. <b>En él podrás verificar que se haya realizado correctamente.</b> Conserva este comprobante de pago. </li>
        </ol>

        <p class="succes-message">Al completar estos pasos, <b>Permergas</b> te enviará un correo confirmando tu pago de manera inmediata. </p>
       </div>
     </div>


  </section>

{% else %}
    <section class="mt-4">
    <div class="row">
      <div class="col s12 center">
        <i class="center check_icon material-icons large white-text green accent-3">check</i>
      </div>
      <div class="col s12">
        <div class="card">
          <table class="bordered">
            <tbody>

              <tr>
                <td><b>MEDIO DE PAGO</b></td>
                <td class="right"><img class="tc_min" height="20px" src="{{asset('themeapp/img/icons_cc/visa.png')}}" alt="">
                  <h4 class="text_pines"> ●●●● 4242</h4>
                </td>
              </tr>
              <tr>
                <td><b>VALOR (MXN)</b></td>
                <td class="right">
                  <h4 class="text_pines">$ {{orden._values.amount|slice(0,-2)|number_format(0)}}</h4>
                </td>
              </tr>
              <tr>
                <td><b>FECHA</b></td>
                <td class="right">
                  <h4 class="text_pines"> {{fecha|date('d/m/y')}} </h4>
                </td>
              </tr>
              <tr>
                <td><b>HORA</b></td>
                <td class="right">
                  <h4 class="text_pines"> {{fecha|date('h:i A')}} </h4>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>



  </section>
{% endif %}








{% endblock %}