<li>

    <a href="{{asset('/admin/usuarios')}}">
        <i class="far fa-user"></i>
        <span>Usuarios</span>
    </a>
</li>

<li>

    <a href="{{asset('/admin/transacciones')}}">
        <i class="far fa-calendar"></i>
        <span>Transacciones</span>
    </a>
</li>
<li>

    <a href="{{asset('/admin/transacciones/movimientos')}}">
        <i class="far fa-calendar"></i>
        <span>Movimientos</span>
    </a>
</li>
<li>

    <a href="{{asset('/admin/flotillas')}}">
        <i class="far fa-calendar"></i>
        <span>Flotillas</span>
    </a>
</li>
<li>
    <a href="{{asset('/admin/clientes')}}">
        <i class="far fa-calendar"></i>
        <span>Clientes</span>
    </a>
</li>
 <li>
    <a href="{{asset('/admin/gasolineras')}}">
        <i class="far fa-calendar"></i>
        <span>Gasolineras</span>
    </a>
</li>
<li>
    <a href="{{asset('/admin/promociones')}}">
        <i class="far fa-calendar"></i>
        <span>Promociones</span>
    </a>
</li>
<li>
    <a href="{{asset('/admin/precio/gasolina')}}">
        <i class="far fa-calendar"></i>
        <span>Precio Gasolina </span>
    </a>
</li>
<li>
    <a href="{{asset('/admin/publicidad')}}">
        <i class="far fa-calendar"></i>
        <span>Publicidad</span>
    </a>
</li>

