<li>
    <a href="javascript:void(0);" class="menu-toggle">
        <i class="fas fa-user"></i>
        <span>Usuarios</span>
    </a>
    <ul class="ml-menu">
        <li class="active">
            <a href="{{asset('/admin/?action=list&entity=FosUser')}}">Listar Usuarios</a>
        </li>
        <li>
            <a href="{{asset('/admin/new/user')}}">Nuevo Usuario</a>
        </li>
        
    </ul>
</li>

<li>

    <a href="{{asset('/admin/flotillas')}}">
        <i class="far fa-calendar"></i>
        <span>Flotillas</span>
    </a>
</li>
<li>
    <a href="{{asset('/admin/clientes')}}">
        <i class="far fa-calendar"></i>
        <span>Clientes</span>
    </a>
</li>
 <li>
    <a href="{{asset('/admin/gasolineras')}}">
        <i class="far fa-calendar"></i>
        <span>Gasolineras</span>
    </a>
</li>

<li>

    <a href="{{asset('/admin/?action=list&entity=Estados')}}">
        <i class="far fa-calendar"></i>
        <span>Estados</span>
    </a>
</li>
<li>
    <a href="{{asset('/admin/?action=list&entity=Delegacion')}}">
        <i class="far fa-calendar"></i>
        <span>Delegacion</span>
    </a>
</li>

 <li>
    <a href="{{asset('/admin/puntos/venta')}}">
        <i class="far fa-calendar"></i>
        <span>Puntos de Venta</span>
    </a>
</li>