<li>
<a href="{{asset('clientes')}}" class=" waves-effect waves-block">
    <i class="far fa-star"></i>
    <span>Clientes</span>
</a>
</li>
<li>
<a href="{{asset('auxiliares')}}" class=" waves-effect waves-block">
    <i class="fas  fa-users"></i>
    <span>Auxiliares</span>
</a>
</li>

<li>
<a href="{{asset('archivos')}}" class=" waves-effect waves-block">
    <i class="fas fa-folder"></i>
    <span>Archivos</span>
</a>
</li>

<li>
<a href="{{path('pagos_clientes')}}" class=" waves-effect waves-block">
    <i class="fas fa-folder"></i>
    <span>Gastos y compras</span>
</a>
</li>

<li>
<a href="{{path('cuentas_por_cobrar_clientes')}}" class=" waves-effect waves-block">
    <i class="fas fa-folder"></i>
    <span>Cuentas por pagar</span>
</a>
</li>

<li>
<a href="{{asset('clientes/nomina/index')}}" class=" waves-effect waves-block">
    <i class="fas  fa-users"></i>
    <span>Nomina</span>
</a>
</li>