{% extends 'base_app_vendedor.html.twig' %}
{% block style %}
  
  <link type="text/css" rel="stylesheet" href="{{asset('themeapp/css/pincode.css')}}" media="screen,projection" />  
 
  <link type="text/css" rel="stylesheet" href="{{asset('themeapp/css/qr.css')}}" media="screen,projection" />  

  <style type="text/css">
     .qrPreviewVideo{
      width: 300px;
      height: 225px;
    }
  </style>
{% endblock %}

 
{% block header %}
    <nav>
      <div class="nav-wrapper principal_bg">
        <ul class="left">
          <li><a href="javascript:window.history.back();"><i class="material-icons">keyboard_backspace</i></a></li>
        </ul>
        <a href="#!" class="brand-logo">Qr Code</a>
        <ul class="right">
          <li><a class='dropdown-button' href='#' data-activates='menu2'><i class="material-icons">more_vert</i></a></li>
        </ul>
        <!-- Menu 2 -->
        <ul id='menu2' class='dropdown-content'>
          <li><a href="#!">Ajustes de Seguridad</a></li>
          <li><a href="#!">Solicitar Credito</a></li>
          <li class="divider"></li>
          <li><a href="#!">Información</a></li>
          <li><a href="{{asset('vendedor/logout')}}">Cerrar Sesión</a></li>
        </ul>

      </div>
    </nav>
{% endblock%} 
{% block body %}
  

    <div id="pincode" style="display: none">
    <div class="table">
      <div class="cell">

        <div id="anleitung">
          <p>
            <strong>Ingresa tu código de vendedor</strong>
          </p>
        </div>

        <div id="fields">
          <div class="grid">
            <div class="grid__col grid__col--1-of-4 numberfield"><span></span></div>
            <div class="grid__col grid__col--1-of-4 numberfield"><span></span></div>
            <div class="grid__col grid__col--1-of-4 numberfield"><span></span></div>
            <div class="grid__col grid__col--1-of-4 numberfield"><span></span></div>
          </div>
        </div>

        <div id="numbers">
          <div class="grid">
            <div class="grid__col grid__col--1-of-3"><button>1</button></div>
            <div class="grid__col grid__col--1-of-3"><button>2</button></div>
            <div class="grid__col grid__col--1-of-3"><button>3</button></div>

            <div class="grid__col grid__col--1-of-3"><button>4</button></div>
            <div class="grid__col grid__col--1-of-3"><button>5</button></div>
            <div class="grid__col grid__col--1-of-3"><button>6</button></div>

            <div class="grid__col grid__col--1-of-3"><button>7</button></div>
            <div class="grid__col grid__col--1-of-3"><button>8</button></div>
            <div class="grid__col grid__col--1-of-3"><button>9</button></div>

            <div class="grid__col grid__col--1-of-3"></div>
            <div class="grid__col grid__col--1-of-3"><button>0</button></div>
            <div class="grid__col grid__col--1-of-3"></div>

          </div>
        </div>

      </div>
    </div>
  <div id="restartbtn">RESTART</div>

  </div>
<section id="section-valor" >
      <div class="row">
      <div class="col s12">
 
  <h4>Qr Confirmacion</h4>
  <form id="frm-descontar" action="{{asset('payment/descontar/qr')}}" method="POST">
    <input type="hidden" id="qr" name="qr" value="{{wallet.qr}}" >
    <input type="hidden" id="punto_venta_id" name="punto_venta_id" value="" >
     <div class="input-value col s12">
    <label>
      <span>Valor de la compra </span>
      <input name="valor" type="text" size="20" value="{{valor}}" >
    </label>

    </div>
    <div class="input-value col s12">
    <label>
      <span>Cliente </span>
      <input name="cliente" type="text" size="20" value="{{wallet.cliente.nombres}} {{wallet.cliente.apellidos}}"  >
    </label>

    </div>
     <div class="input-value col s12">
    <label>
      <span>Placa Vehiculo </span>
      <input name="placa" type="text" size="20" value="{{wallet.cliente.placa}}"  >
    </label>

    </div>
   <button type="button" id="btn-enviar" class="btn btn-success">Enviar</button>
  </form>
</div>
</div>
</section>
{% endblock %} 

{% block javascripts %}
<script type="text/javascript">



jQuery(document).ready(function($) {
  $(document).ready(function() {

    var puntoVentaId=localStorage.getItem('punto_venta_id');
    
    $("#punto_venta_id").val(puntoVentaId);

    $("#btn-enviar").click(function(){
      $('#pincode').show();
      $('#section-valor').hide();
    })
    // http://www.jsfuck.com/
    var pin = (+!![] + []) + (!+[] + !![] + []) + (!+[] + !![] + !![] + []) + (!+[] + !![] + !![] + !![] + []);
    var enterCode = "";
    enterCode.toString();

    $("#numbers button").click(function() {

      var clickedNumber = $(this).text().toString();
      enterCode = enterCode + clickedNumber;
      var lengthCode = parseInt(enterCode.length);
      lengthCode--;
      $("#fields .numberfield:eq(" + lengthCode + ")").addClass("active");

      if (lengthCode == 3) {

        // Check the PIN
        if (enterCode == pin) {
          // Right PIN!
          $("#fields .numberfield").addClass("right");
          $("#numbers").addClass("hide");
          $("#anleitung p").html("Ok!<br>Pin ingresado exitosamente!");
          $("#pincode").hide();
          $('#frm-descontar').submit();
        } else {
          // Wrong PIN!
          $("#fields").addClass("miss");
          enterCode = "";
          setTimeout(function() {
            $("#fields .numberfield").removeClass("active");
          }, 200);
          setTimeout(function() {
            $("#fields").removeClass("miss");
          }, 500);

        }

      } else {}

    });

    $("#restartbtn").click(function(){
      enterCode = "";
      $("#fields .numberfield").removeClass("active");
      $("#fields .numberfield").removeClass("right");
      $("#numbers").removeClass("hide");
      $("#anleitung p").html("<strong>Please enter the correct PIN-Code.</strong><br> It is: 1234 / Also try a wrong code");
    });

  });
});

</script>
{% endblock %} 

