{% extends 'base_app_vendedor.html.twig' %}
{% block style %}

{% endblock %}
{% block header %}
    {{include('app_vendedor/nav.html.twig')}}
{% endblock%} 
{% block body %}


  <section class="pricing-table">
    <div class="container">
      <div class="row ">
        <div class="col s6">
          <h4 class="date_title"> <span>Valor por litro</span> <br> {{fecha|date('d/m/y')}} </h4>
        </div>
        <div class="col s6">
          <h3 class="gas_price">1090<span>MXN</span> </h3>
        </div>
      </div>
    </div>
  </section>

    <section class="pricing-table">
    <div class="container">
      <div class="row ">
        <div class="col s12">
          <h4 class="date_title"> Transaciones</h4>
          <div id="no-more-" class="card-body table-responsive">
        <table class="table table-condensed">
            <thead>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Valor</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>  
                {% for transaccion in transacciones %}
                    <tr>
                       <td data-title="Fecha">{{transaccion.createdAt|date('d/m/d h:i A')}}</td>
                       <td data-title="Valor">
                        <span {% if transaccion.tipoTransaccion==1 %} class="success-transaccion" {% else %} class="danger-transaccion" {% endif%} >                       {{transaccion.valor|number_format(2)}}
                        </span>
                        </td>
                       <td data-title="Estado">{{transaccion.estado}}</td>
                    </tr>
                {% endfor %} 
                </tbody>
            </table>
        </div>
        </div>
        
      </div>
    </div>
  </section>
 
 {% endblock %}

