{% extends 'base_app_vendedor.html.twig' %}
{% block style %}
	<link type="text/css" rel="stylesheet" href="{{asset('themeapp/css/profile.css')}}" media="screen,projection" />  
{% endblock %}

{% block header %}
    <nav>
      <div class="nav-wrapper principal_bg">
        <ul class="left">
          <li><a href="javascript:window.history.back();" class="volver" ><i class="material-icons">keyboard_backspace</i></a></li>
        </ul>
        <a href="#!" class="brand-logo">Perfil</a>
        
      </div>
    </nav>
{% endblock %}
{% block body %}

<img class="bg_profile" src="{{asset('themeapp/img/bg_profile.svg')}}" alt="">

	<section>
    <div class="container">
    
    </div>
  </section>
  <div class="container mt-10">
    <form action="{{asset('app/update/profile')}}">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input disabled id="nombres"  type="text" value="{{app.user.username}}" name="nombres" class="validate">
          <label class="active" for="icon_prefix">Nombre</label>
        </div>
     
       
        <div class="input-field col s12">
          <i class="material-icons prefix">mail</i>
          <input disabled id="email" name="email" value="{{app.user.email}}" type="tel" class="validate">
          <label class="active" for="icon_telephone">Email</label>
        </div>
        

         <button type="btn" id="btn-guardar" style="display: none" class="btn-app  bg_principal waves-effect waves-darken btn">Guardar</button>
         <br/><br/><br/>
      </div>
    </form>
  </div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  $(document).ready(function(){

  	$("#edit").click(function(e){
  		e.preventDefault();
  		$("#btn-guardar").show();
  		$(".validate").attr('disabled',false);
  		$("#nombres").focus();
  	}) 
  });


</script>
{% endblock %}
