{% extends 'base_app_vendedor.html.twig' %}

{% block header %}
      <nav>
      <div class="nav-wrapper principal_bg">
        <ul class="left">
          <li><a href="javascript:window.history.back();"><i class="material-icons">keyboard_backspace</i></a></li>
        </ul>
        <a href="#!" class="brand-logo">Transacciones</a>
        <ul class="right">
          <li><a class='dropdown-button' href='#' data-activates='menu2'><i class="material-icons">more_vert</i></a></li>
        </ul>
        <!-- Menu 2 -->
        <ul id='menu2' class='dropdown-content'>
          <li><a href="#!">Ajustes de Seguridad</a></li>
          <li><a href="#!">Solicitar Credito</a></li>
          <li class="divider"></li>
          <li><a href="#!">Información</a></li>
          <li><a href="{{asset('logout')}}">Cerrar Sesión</a></li>
        </ul>

      </div>
    </nav>
{% endblock%} 
{% block body %}
 
    <section class="pricing-table">
    <div class="container">
      <div class="row ">
        <div class="col s12">
          <h4>Total Ventas para el día {{fecha|date('d/m/y')}}:<br/> $ {{total_ventas}} MXN </h4>
          <br/><br/>
          <h5 class="date_title">Lista de transaciones </h5>

          <div id="no-more-" class="card-body table-responsive">


             <table class="table table-condensed">
            <thead>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th></th>
                        <th>Valor</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>  
                
                   {% for transaccion in transacciones %}
                    <tr>
                       <td data-title="Fecha">
                        <b>{{transaccion.notas}}</b>
                        <br/>
                       {{transaccion.createdAt|date('d/m/d h:i A')}}</td>
                       <td>
                        {% if transaccion.tipoTransaccion==2 %}
                        <i class="material-icons" style="color: green" >arrow_upward</i>
                        {% else %}
                        <i class="material-icons" style="color: red">arrow_downward</i>
                        {% endif %}
                      </td>
                       <td data-title="Valor">
                        <span {% if transaccion.tipoTransaccion==2 %} class="success-transaccion" {% else %} class="danger-transaccion" {% endif%} >
                          {{transaccion.valor|number_format(2)}}
                        </span>
                        </td>
                          <td data-title="Estado">{{transaccion.estado}}</td>
                       
                    </tr>
                {% endfor %} 
                                </tbody>

            </table>
        </div>
        </div>
        
      </div>
    </div>
  </section>

{% endblock%} 
