<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="card">

        <div class="header">
            <h2>
                <strong>Formulario Usuarios</strong>
            </h2>
            
        </div>
    <div class="card-body table-responsive">


{{ form_start(form) }}

     {% if(fos_user.avatar!="") %}

        <img src="{{asset(fos_user.avatar)}}" width="64" height="64" alt="User">
        {% else%}

        {% endif%}
    <br/><br/>
    {{ form_widget(form) }}
    <br/>
    <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>

    {% if is_granted('ROLE_ADMIN') %}

    <a class="btn" href="{{ path('usuarios_index') }}">Volver a la lista</a>

    {% endif %}
	
{{ form_end(form) }}
<br/>
{% if is_granted('ROLE_ADMIN') %}

{% if delete %}
{{ include('usuarios/_delete_form.html.twig') }}
{% endif %}
{% endif%}

 </div>
</div>
</div>
</div>