{% extends 'base.html.twig' %}

{% block content_title %}Usuarios Permergas{% endblock %}
{% block busqueda_general %}

    <div class="search-box">
        <form method="get" action="/admin/usuarios">
            <input type="hidden" name="action" value="search">
            <input id="search" type="search" name="query" value="{{query}}" placeholder="Buscar">
            <button class="icon">
                    <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
{% endblock %}
{% block global_actions %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      
        <div class="button-action">
            <a class="btn btn-default" href="{{asset('/admin/new/user')}}">Nuevo Usuario</a> 
        </div>
    </div>
</div>

{% endblock %}

{% block body %}
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="card">

    <div class="header">
        <h2>
            <strong>Lista Usuarios</strong>
        </h2>
    </div>

    <div class="card-body table-responsive">
    <table class="table table-condensed">
  
        <thead>
            <tr>
                <th>Id</th>
                <th>Documento</th>
                <th>Nombres</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Rol Usuario</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for fos_user in usuarios %}
            <tr>
                <td>{{ fos_user.id }}</td>
                 <td>{{ fos_user.documento }}</td>
                <td>{{ fos_user.username }}</td>
                <td>{{ fos_user.email }}</td>
                <td>{{ fos_user.telefono }}</td>
                
                <td>{% for rol in fos_user.roles %}
                    {{rol}}
                    {% endfor %}
                </td>
                <td>{{ fos_user.enabled ? 'Si' : 'No' }}</td>
                <td>
                    <a href="{{ path('usuarios_edit', {'id': fos_user.id}) }}">
                         <i class="fa fa-fw fa-pencil"></i>
                    </a>
                    <a href="{{ path('usuarios_show', {'id': fos_user.id}) }}">
                    <a title="recuperar password" href="{{ path('email_reset_password', {'email': fos_user.email}) }}" class="email_reset_password">
                         <i class="fa fa-fw fa-envelope-o"></i>
                    </a>

                    </a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no se encuentran resultados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="navigation">
    {{ knp_pagination_render(usuarios) }}
</div>
</div>
</div>
    
{% endblock %}
