{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}Clientes{% endblock %}

{% block busqueda_general %}

    <div class="search-box">
        <form method="get" action="/admin/flotillas/clientes/{{flotilla.id}}">
            <input type="hidden" name="action" value="search">
            <input id="search" type="search" name="query" value="{{query}}" placeholder="Buscar">
            <button class="icon">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
{% endblock %}


{% block main %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">



        <div class="card">

            <div class="header">
                <h2>
                    <strong>Lista Clientes</strong>
                </h2>

            </div>
            <div class="card-body table-responsive">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Documento', 'c.documento') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Nombres', 'c.nombres') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Apellidos', 'c.apellidos') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Email', 'c.email') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Celular', 'c.celular') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Placa', 'c.placa') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Fecha', 'c.createdAt') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Tipo', 'c.tipo') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Estado', 'c.estado') }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cliente in clientes %}
                        <tr>
                            <td>{{ cliente.id }}</td>
                            <td>{{ cliente.documento }}</td>
                            <td>{{ cliente.nombres }}</td>
                            <td>{{ cliente.apellidos }}</td>
                            <td>{{ cliente.email }}</td>
                            <td>{{ cliente.celular }}</td>
                            <td>{{ cliente.placa }}</td>
                            <td>{{ cliente.createdAt ? cliente.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ tipo[cliente.tipo] }}</td>
                            <td>{{ cliente.estado }}</td>
                            <td>
                                <a href="{{ path('clientes_edit', {'id': cliente.id}) }}">
                                    <i class="fa fa-fw fa-pencil"></i>
                                </a>
                                <a href="{{ path('clientes_show', {'id': cliente.id}) }}">
                                    <i class="fa fa-fw fa-eye"></i>
                                </a>
                                <a title="recuperar password" href="{{ path('email_reset_password', {'email': cliente.email}) }}" class="email_reset_password">
                                     <i class="fa fa-fw fa-envelope-o"></i>
                                </a>
                            </td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="16">Sin Resultados</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(clientes) }}
            </div>
        </div>
    </div>

    {% endblock %}

