{% extends 'base.html.twig' %}

{% block content_title %}Flotillas{% endblock %}

{% block body %}
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="card">
        <div class="header">
            <h2>
                <strong>{{flotilla.nombre}}</strong>
            </h2>
            
        </div>
    <div class="card-body table-responsive">
    <table class="table table-condensed">

        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flotilla.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ flotilla.nombre }}</td>
            </tr>
            <tr>
                <th>Documento</th>
                <td>{{ flotilla.documento }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ flotilla.createdAt ? flotilla.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ flotilla.updatedAt ? flotilla.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

  
    <a class="btn btn-success" href="{{ path('flotillas_edit', {'id': flotilla.id}) }}">Editar</a>
      <a class="btn" href="{{ path('flotillas_index') }}">Volver a la lista</a>

    <br/><br/>
    {{ include('flotillas/_delete_form.html.twig') }}

</div>
</div>
</div>
{% endblock %}
