{% extends 'base.html.twig' %}

{% block content_title %}Usuarios Admin Flotilla ({{flotilla.nombre}}){% endblock %}

{% block busqueda_general %}

    <div class="search-box">
        <form method="get" action="/admin/flotillas/usuarios/{{flotilla.id}}">
            <input type="hidden" name="action" value="search">
            <input id="search" type="search" name="query" value="" placeholder="Buscar">
            <button class="icon">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
{% endblock %}

{% block global_actions %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="button-action">
             <a class="btn btn-default" href="{{ path('flotillas_usuarios_new',{id:flotilla.id}) }}">Nuevo Admin Flotilla</a>

        </div>
    </div>
</div>

{% endblock %}

{% block main %}
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="card">

    <div class="header">
        <h2>
            <strong>Lista Usuarios Flotilla</strong>
        </h2>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Usuario</th>
                <th>Email</th>
                <td>Saldo</td>
               
                <th>Acciones</th>
                
            </tr>
        </thead>
        <tbody>
        {% for usuario in lista_usuarios %}
            <tr>
                <td>{{ usuario.row.id }}</td>
                <td>{{ usuario.row.username }}</td>
                <td>{{ usuario.row.email }}</td>
                 <td>{{ usuario.saldo|number_format(2) }}</td>
                <td>
                    <a title="eliminar" href="{{ path('flotillas_usuarios_delete', {'id': usuario.row.id}) }}">
                          <i class="fa fa-fw fa-trash"></i>
                    </a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Sin Resultados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
    </div> 
</div>
</div>
   
{% endblock %}
