<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Admin Permergas</title>
    <!-- Favicon-->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- Plugins Core Css -->
    <link href="{{asset('adminlte/assets/css/app.min.css')}}" rel="stylesheet">

        <link href="{{asset('adminlte/assets/css/form.min.css')}}" rel="stylesheet">

        <!-- Custom Css -->
    <link href="{{asset('adminlte/assets/css/style.css')}}" rel="stylesheet" />

    <link href="{{asset('adminlte/assets/css/styles/all-themes.css')}}" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet" />

 
    </style>

    <style type="text/css">
    .content-header {
        width: 100%;
        display:block;
        float: left;
        margin-bottom: 10px;
        margin-top: 5px;
    }
     .content-header-title{
            float: left;
            width: 80%
        }
        .global-actions {
            float: left;
            width: 20%;
           
        }
        .global-actions .action-search{
            width: 300px;
            float: left;
        }
        .global-actions .button-action{
            float: right;
        }
        .selection{
            display: none;
        }
       
        
    </style>

</head>

    {% block body_layout %}
    <body id="{% block body_id %}{% endblock %}" >
       

           <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="{{asset('/admin/home')}}">
                    <img src="{{asset('adminlte/assets/images/logo.png')}}" alt="" />
                    <span class="logo-name"><img src="{{asset('adminlte/assets/images/titulo.png')}}"></span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="pull-left">
                    <li>
                        <a href="javascript:void(0);" class="sidemenu-collapse">
                            <i class="fas fa-bars"></i>
                        </a>
                    </li>
                    <li>
                        {% block busqueda_general %}
                        <div class="search-box">
                            <input type="search" id="search" placeholder="Search..." />
                            <button class="icon">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        {% endblock %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Full Screen Button -->
                    <li class="fullscreen">
                        <a href="javascript:;" class="fullscreen-btn">
                            <i class="fas fa-expand-arrows-alt"></i>
                        </a>
                    </li>
                    <!-- #END# Full Screen Button -->

                    <!-- Notifications -->
                    
                    <!-- #END# Notifications -->
                    <!-- #START# Message-->
                    
                    <!-- #END# Message-->
                    <li class="dropdown user_profile">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <img src="{{asset('adminlte/assets/images/user.jpg')}}" width="32" height="32" alt="User">
                        </a>
                        <ul class="dropdown-menu pullDown">
                            <li class="body">
                                <ul class="user_dw_menu">
                                    <li>
                                        <a href="{{path('perfil')}}">
                                            <i class="material-icons">person</i>Mi Cuenta
                                        </a>
                                    </li>
                                   
                                    
                                    <li>
                                        <a href="{{asset('logout')}}">
                                            <i class="material-icons">power_settings_new</i>Cerrar Sesión
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Tasks -->
                  
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <div>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="sidebar-user-panel active">
                        <div class="user-panel">
                            <div class=" image">
                                <img src="{{asset('adminlte/assets/images/usrbig.jpg')}}" class="img-circle user-img-circle" alt="User Image" />
                            </div>
                        </div>
                        <div class="profile-usertitle">
                            <div class="sidebar-userpic-name"> {{ app.user.username }} </div>
                            
                        </div>
                       <!-- <div class="sidebar-userpic-btn">
                            <a class="tooltips" href="{{asset('profile')}}" data-toggle="tooltip" title="Profile">
                                <i class="far fa-user sidebarQuickIcon"></i>
                            </a>
                            
                         
                            <a class="tooltips" href="{{asset('logout')}}" data-toggle="tooltip" title="Logout">
                                <i class="fas fa-sign-out-alt sidebarQuickIcon"></i>
                            </a>
                        </div>
                        !-->
                    </li>
                    <li class="header">Menú</li>
                   
                    <li>
                        <a href="{{asset('/admin/home')}}">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Inicio</span>
                        </a>
                    </li>
                    {{ render(path('default_menu')) }}
                   
                  
                </ul>
            </div>
            <!-- #Menu -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
       
        <!-- #END# Right Sidebar -->
    </div>

        {% block wrapper %}
        
                {% block content %}
                  <section class="content">
                     <div class="container-fluid">
                    <div class="content">
                        {% block content_header_wrapper %}
                        {% set _has_content_help = _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
                        <section class="content-header {{ _has_content_help ? 'has-content-help' }}">
                            {% block content_header %}
                                <div class="">
                                    <div class="content-header-title">
                                        <h1 class="title">{% block content_title %}{% endblock %}</h1>
                                    </div>

                                    {% block global_actions_wrapper %}
                                        <div class="global-actions">
                                            {% block global_actions %}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>

                                {% block content_help %}
                                    {% if _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
                                        <div class="content-header-help">
                                            {{ _entity_config[app.request.query.get('action')]['help']|trans(domain = _entity_config.translation_domain)|raw }}
                                        </div>
                                    {% endif %}
                                {% endblock content_help %}
                            {% endblock content_header %}
                        </section>
                        {% endblock content_header_wrapper %}

                        <section id="main" class="content-body">
                            {% for message in app.flashes('success') %}
                             <div class="alert alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                {{message}}
                            </div>
                            {% endfor %}
                            {% for message in app.flashes('bad') %}
                            <div class="alert bg-pink alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                {{message}}
                            </div>
                            {% endfor %}
                            <br/>
                            
                            {% block main %}
                            {% block body %}
                            {% endblock  %}
                            {% endblock %}
                        </section>

                        {% block content_footer_wrapper %}
                            <section class="content-footer">
                                {% block content_footer %}{% endblock %}
                            </section>
                        {% endblock %}
                    </div>
                </div>
            </section>
                {% endblock content %}
        {% endblock wrapper %}
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<div class="modal fade" id="modal_layout" tabindex="-1" role="dialog" aria-labelledby="modal_layout" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alerta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="body_modal_layout">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success waves-effect" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
</div>
        
        <script src="{{asset('adminlte/assets/js/app.min.js')}}"></script>
        <!-- Custom Js -->
         <script src="{{asset('bundles/easyadmin/select2/i18n/es.js')}}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.AreYouSure/1.9.0/jquery.are-you-sure.min.js" defer></script>
        


        <script src="{{asset('adminlte/assets/js/admin.js')}}"></script>
        <script src="{{asset('adminlte/assets/js/bundles/multiselect/js/jquery.multi-select.js')}}"></script>
        <script src="{{asset('adminlte/assets/js/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js')}}"></script>

        <script src="{{asset('adminlte/assets/js/demo.js')}}"></script>
        <script src="{{asset('adminlte/assets/js/form.min.js')}}"></script>
        <script src="{{asset('adminlte/assets/js/pages/forms/advanced-form-elements.js')}}"></script>

        <script type="text/javascript">
            
            $('document').ready(function(){
                $('.email_reset_password').click(function(e){
                    e.preventDefault();
                    $.get($(this).attr('href'),function(data){
                        $('#body_modal_layout').html(data);
                        $('#modal_layout').modal('show');
                    })
                })
            })
        </script>
        {% block body_javascript %}
       
        {% endblock body_javascript %}

    </body>
    {% endblock body_layout %}
    
</html>
