<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>JMB Contadores</title>
    <!-- Favicon-->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- Plugins Core Css -->
    <link href="{{asset('adminlte/assets/css/app.min.css')}}" rel="stylesheet">

        <link href="{{asset('adminlte/assets/css/form.min.css')}}" rel="stylesheet">

        <!-- Custom Css -->
    <link href="{{asset('adminlte/assets/css/style.css')}}" rel="stylesheet" />

    <link href="{{asset('adminlte/assets/css/styles/all-themes.css')}}" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet" />


 
    </style>

    <style type="text/css">
    .content-header {
        width: 100%;
        display:block;
        float: left;
        margin-bottom: 10px;
        margin-top: 5px;
    }
     .content-header-title{
            float: left;
            width: 80%
        }
        .global-actions {
            float: left;
            width: 20%;
           
        }
        .global-actions .action-search{
            width: 300px;
            float: left;
        }
        .global-actions .button-action{
            float: right;
        }
        .selection{
            display: none;
        }

        .plain-card{
            min-height:128px;
        }
       
        
        
    </style>

      <style media="screen">
    .select-wrapper {width: 100%}
    .paddin-top {padding: 30px; margin-top: 40px; }
    select.form-control { width: 60px;
    margin-top: -4px;
    margin-left: -10px;}
  </style>
</head>

    {% block body_layout %}
    <body id="{% block body_id %}{% endblock %}" >
       

           <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    <!-- Top Bar -->
    <nav class="navbar">


        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="#">
                    <img src="{{asset('adminlte/assets/images/logo.png')}}"  height="30px" alt="" />
                    <span style="font-size: 1rem" class="logo-name">CONTADORES</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="pull-left">
                    <li>
                        <a href="javascript:void(0);" class="sidemenu-collapse">
                            <i class="fas fa-bars"></i>
                        </a>
                    </li>
                    <li>
                        {% block busqueda_general %}
                        <form action="" method="get" id="frm-busqueda-general" >
                        <div class="search-box">
                            {% if app.request.get('clienteid') %}
                            <input type="hidden" name="clienteid" value="{{app.request.get('clienteid')}}">
                            {% endif %}
                             {% if app.request.get('factura_interna') %}
                            <input type="hidden" name="factura_interna" value="1">
                            {% endif %}
                            <input type="search" id="search" name="query" placeholder="Buscar..." value="{{app.request.get('query')}}" />
                            <button class="icon" id="btn-busqueda-general">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        </form>
                        {% endblock %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Full Screen Button -->
                    <li class="fullscreen">
                        <a href="javascript:;" class="fullscreen-btn">
                            <i class="fas fa-expand-arrows-alt"></i>
                        </a>
                    </li>
                    <!-- #END# Full Screen Button -->

                    <!-- Notifications -->
                    
                    <!-- #END# Notifications -->
                    <!-- #START# Message-->
                    
                    <!-- #END# Message-->
                    <li class="dropdown user_profile">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            {% if app.session.get('avatar')!="" %}
                            <img src="{{asset(app.session.get('avatar'))}}" width="32" height="32" alt="User">
                            {% else %}
                            <img src="{{asset('adminlte/assets/images/user.png')}}" width="32" height="32" alt="User">
                            {% endif%}
                            
                        </a>
                        <ul class="dropdown-menu pullDown">
                            <li class="body">
                                <ul class="user_dw_menu">
                                    <li>
                                        <a href="{{path('clientes_perfil')}}">
                                            <i class="material-icons">person</i>Mi Cuenta
                                        </a>
                                    </li>
                                   
                                    
                                    <li>
                                        <a href="{{asset('logout')}}">
                                            <i class="material-icons">power_settings_new</i>Cerrar Sesión
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Tasks -->
                  
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <div>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- Menu -->
            <div class="menu">


                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 355px;"><ul class="list" style="overflow: hidden; width: auto; height: 355px;">
                    <li class="sidebar-user-panel active" style="display: block;">
                        <div class="user-panel">
                              <div class=" image">
                                
                                {% if app.session.get('avatar')!="" %}
                                <img src="{{asset(app.session.get('avatar'))}}" class="img-circle user-img-circle" alt="User">
                                {% else %}
                                 <img src="{{asset('adminlte/assets/images/user.png')}}" class="img-circle user-img-circle" alt="User Image" />
                                {% endif%}


                               
                            </div>
                        </div>
                        <div class="profile-usertitle">
                            <div class="sidebar-userpic-name"> {{ app.user.username }} </div>
                            <div class="profile-usertitle-job ">
                                {% if is_granted('ROLE_ADMIN') %}
                                Administrador
                                {% endif %}
                                 {% if is_granted('ROLE_AUXILIAR') %}
                                Auxiliar
                                {% endif %}
                                 {% if is_granted('ROLE_CLIENTE') %}
                                 Cliente
                                {% endif %} 
                        </div>
                        </div>
                        <div class="sidebar-userpic-btn">

                        </div>
                    </li>
                    <li class="active">
                        <a href="{{asset('/')}}" class="waves-effect waves-block toggled">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    
                    {{ render(path('default_menu')) }}


                </ul><div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.5); width: 4px; position: absolute; top: -300px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 346.223px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
            </div>
            </div>

        </aside>




     </div>
           

        {% block wrapper %}
        		
                {% block content %}
                
                         
                        
                        {% block content_header_wrapper %}
                        {% set _has_content_help = _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
                        <section class="content-header {{ _has_content_help ? 'has-content-help' }}">



                            {% block content_header %}
                                <div class="">
                                    <div class="content-header-title">
                                        <h1 class="title">{% block content_title %}{% endblock %}</h1>
                                    </div>

                                    {% block global_actions_wrapper %}
                                        <div class="global-actions">
                                            {% block global_actions %}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>

                                {% block content_help %}
                                    {% if _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
                                        <div class="content-header-help">
                                            {{ _entity_config[app.request.query.get('action')]['help']|trans(domain = _entity_config.translation_domain)|raw }}
                                        </div>
                                    {% endif %}
                                {% endblock content_help %}
                            {% endblock content_header %}
                        </section>
                        {% endblock content_header_wrapper %}

                        <section id="main" class="content-body">
                            {% block main %}
	                            {% block body %}
	                            {% endblock  %}
                            {% endblock %}
                        </section>

                        {% block content_footer_wrapper %}
                            <section class="content-footer">
                                {% block content_footer %}{% endblock %}
                            </section>
                        {% endblock %}
                 
                {% endblock content %}
        {% endblock wrapper %}
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<div class="modal fade" id="modal_layout" tabindex="-1" role="dialog" aria-labelledby="modal_layout" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alerta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="body_modal_layout">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success waves-effect" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
</div>
        
        <script src="{{asset('adminlte/assets/js/app.min.js')}}"></script>
        <!-- Custom Js -->
         <script src="{{asset('bundles/easyadmin/select2/i18n/es.js')}}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.AreYouSure/1.9.0/jquery.are-you-sure.min.js" defer></script>
        


        <script src="{{asset('adminlte/assets/js/admin.js')}}"></script>
        <script src="{{asset('adminlte/assets/js/chart.min.js')}}"></script>

        <script src="{{asset('adminlte/assets/js/bundles/multiselect/js/jquery.multi-select.js')}}"></script>
        <script src="{{asset('adminlte/assets/js/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js')}}"></script>

        <script src="{{asset('adminlte/assets/js/demo.js')}}"></script>
        <script src="{{asset('adminlte/assets/js/form.min.js')}}"></script>
        <script src="{{asset('adminlte/assets/js/pages/forms/advanced-form-elements.js')}}"></script>

        
        <script type="text/javascript">
            $('document').ready(function(){
                $('.email_reset_password').click(function(e){
                    e.preventDefault();
                    $.get($(this).attr('href'),function(data){
                        $('#body_modal_layout').html(data);
                        $('#modal_layout').modal('show');
                    })
                })
            })
        </script>


        {% block body_javascript %}
       
        {% endblock body_javascript %}

    </body>
    {% endblock body_layout %}
    
</html>
