{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

<form action="{{ path("recuperar_cuenta") }}" method="post" class="login100-form validate-form">
    
    <span class="login100-form-logo">
        <img alt="" src="{{asset('adminlte/assets/images/loading.png')}}">
    </span>
    <span class="login100-form-title p-b-34 p-t-27">
        Recuperar Cuenta
    </span>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        {{message}}
        </div>
    {% endfor %} 

    {% for message in app.flashes('bad') %}
        <div class="alert bg-pink alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        {{message}}
        </div>
    {% endfor %} 
<br/>
    <div class="text-center">
        <p class="txt1 p-b-20">
            Ingresa tu correo de registro.
        </p>
    </div>
    <div class="wrap-input100 validate-input" data-validate="Enter email">
        <input class="input100" type="text" name="_username" placeholder="Email">
        <i class="material-icons focus-input1001">email</i>
    </div>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit" value="submit">
            Recuperar mi cuenta
        </button>
    </div>
    <div class="text-center p-t-50">
        <a class="txt1" href="{{path('login')}}">
            Iniciar sesión
        </a>
    </div>
  
  
</form>

{% endblock %}