{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

<form action="{{ path("recuperar_cuenta") }}" method="post" class="login100-form validate-form">
    <input type="hidden" name="token" value="{{token}}">
    <input type="hidden" name="_username" value="{{email}}">
    <span class="login100-form-logo">
        <img alt="" src="{{asset('adminlte/assets/images/loading.png')}}">
    </span>
    <br/>
    {% for message in app.flashes('bad') %}
<div class="alert bg-pink alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    {{message}}
</div>
{% endfor %} 
<br/>
    <div class="text-center">
        <p class="txt1 p-b-20">
            Ingresa una nueva contraseña.
        </p>
    </div>
    <div class="wrap-input100 validate-input" data-validate="Enter password">
        <input class="input100" type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Contraseña Nueva">
        <i class="material-icons focus-input1001">lock</i>
    </div>
    <div class="wrap-input100 validate-input" data-validate="Enter password">
        <input class="input100" type="password" id="_password_check" name="_password_check" required="required" autocomplete="current-password" placeholder="Confirmar Contraseña">
        <i class="material-icons focus-input1001">lock</i>
    </div>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn" name="submit" type="submit" value="submit">
            Cambiar Contraseña
        </button>
    </div>
    <div class="text-center p-t-50">
        <a class="txt1" href="{{path('login')}}">
            Iniciar sesión
        </a>
    </div>
  
  
</form>

{% endblock %}