{% extends 'base.html.twig' %}

{% block title %}PuntoVenta{% endblock %}

{% block body %}
    <h1>PuntoVenta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ punto_ventum.id }}</td>
            </tr>
            <tr>
                <th>Documento</th>
                <td>{{ punto_ventum.documento }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ punto_ventum.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ punto_ventum.apellidos }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ punto_ventum.email }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ punto_ventum.celular }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ punto_ventum.createdAt ? punto_ventum.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ punto_ventum.updatedAt ? punto_ventum.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('punto_venta_index') }}">back to list</a>

    <a href="{{ path('punto_venta_edit', {'id': punto_ventum.id}) }}">edit</a>

    {{ include('punto_venta/_delete_form.html.twig') }}
{% endblock %}
