<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">

        <div class="header">
            <h2>
                <strong>Formulario Clientes</strong>
            </h2>
            
        </div>
    <div class="card-body table-responsive">

{{ form_start(form) }}
{{ form_widget(form) }}

    <br/>
    <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>

 <a class="btn btn-default" href="{{ path('clientes_index') }}">Volver a la Lista</a>

   
{{ form_end(form) }}
{% if eliminar %}

{% if is_granted('ROLE_CLIENTE') %}

{% else %}
<br/>
    {{ include('clientes/_delete_form.html.twig') }}
{% endif %}
{% endif %}

</div>
</div>
</div>
</div>