{{ form_start(form) }}
    {{ form_widget(form) }}

    <br/>
    <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>

    <a class="btn btn-default" href="{{ path('clientes_index') }}">Volver a la Lista</a>

{{ form_end(form) }}
