 {% extends 'base.html.twig' %}

{% block content %}

{% block body %}

  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xl-6 col-lg-5 col-md-4 col-sm-12">
            <ul class="breadcrumb breadcrumb-style">
              <li class="breadcrumb-item  bcrumb-1">
                <a href="{{asset('/')}}">
                  <i class="material-icons">home</i> Home</a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="javascript:void(0);">Facturas Por pagar</a>
              </li>

               {% if cliente %}
              <li class="breadcrumb-item bcrumb-2">
                  <a href="javascript:void(0);">{{cliente.razonSocial}}</a>
               </li>
                {% endif %}
              {% if pago %}
              <li class="breadcrumb-item bcrumb-2">
                <a href="javascript:void(0);">Pago # {{pago.consecutivo}}</a>
              </li>
              {% endif %}
            </ul>
          </div>
          <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12 text-right">
          {% if pago %}
            {% if (pago.revisado==0 or pago.revisado=="") or pago.tipoPagoId<5 %}
              <div class="breadcrumb-chart">
                <div class="float-right">
                  <div class="icon m-b-10">
                     <a href="{{path('cuentas_por_cobrar_subir_archivos',{clienteid:pago.clienteId,id:pago.id})}}" type="button" class="btn btn-primary  waves-effect" >Subir xml</a>
                  </div>
                </div>
              </div>

            {% else %}
            <div class="breadcrumb-chart">
                <div class="float-right">
                  <div class="icon m-b-10">
                     <a href="#" data-toggle="modal" data-target="#modalNuevaFactura" type="button" class="btn btn-primary  waves-effect" >Agregar Factura manual</a>
                  </div>
                </div>
              </div>
            {% endif %}

            {% else %}
            {% if cliente %}
              <div class="breadcrumb-chart">
              <div class="float-right">
                <div class="icon m-b-10">
                  <a href="{{path('cuentas_por_cobrar_subir_archivos',{clienteid:cliente.id})}}" type="button" class="btn btn-primary  waves-effect" >Subir xml</a>
                </div>
              </div>
            </div>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      <!-- Basic Examples -->

      <!-- #END# Basic Examples -->
      <!-- Exportable Table -->
    {% if pago==false %}
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header">
                <h2>
                    <strong>Busqueda Avanzada</strong>
                </h2>
            </div>
          <div class="body">
            <form id="frm-filtros-avanzado" name="frm-filtros-avanzado">
              <input type="hidden" name="exportar" id="exportar">
              <input type="hidden" name="filtros[cliente]" id="clienteid" value="{{filtros.cliente}}">
              
                <div class="row clearfix">

                   {% if is_granted('ROLE_CLIENTE') or cliente %}
                      <input type="hidden" name="filtros['cliente']" value="{{cliente.id}}" >
                    {% else %}
                    {% if pago==FALSE %}
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                              <label>Clientes</label>

                               <select name="filtros[cliente]" id="cliente">
                                    <option value="">Clientes</option>
                                    {% for cliente in clientes %}
                                        <option value="{{cliente.id}}" {% if filtros.cliente==cliente.id %} selected="selected" {% endif %} >{{cliente.razonSocial}}</option>
                                    {% endfor %}
                              </select>
                            </div>
                        </div>
                    </div>
                    {% endif %}

              

                    {% endif %}

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                              <label>Proveedores</label>

                               <select name="filtros[proveedor]" id="cliente">
                                    <option value="">Proveedor</option>
                                    {% for objproveedor in proveedores %}
                                        <option value="{{objproveedor.proveedor}}" {% if objproveedor.proveedor==filtros.proveedor %} selected="true" {% endif %}  >{{objproveedor.proveedor}}</option>
                                    {% endfor %}
                              </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                       <div class="form-group">
                            <div class="form-line">
                            <label>Estado</label>
                            <br/>
                              <select name="filtros[tipo]"  id="tipo">
                                    <option value="">Estado</option>
                                    <option value="1" {% if filtros.tipo==1 %} selected="tue" {% endif %}  >Cancelable </option>
                                     <option value="2" {% if filtros.tipo==2 %} selected="tue" {% endif %}>No Cancelable</option>
                              </select>
                            </div>
                        </div>
                    </div>

                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                       <div class="form-group">
                            <div class="form-line">
                            <label>Extensiones Archivo</label>
                            <br/>
                              <select name="filtros[extensiones]"  id="extensiones">
                                    <option value="">Todas</option>
                                    <option value="xml" {% if filtros.extensiones=='xml' %} selected="tue" {% endif %}  >XML </option>
                                     <option value="otras" {% if (filtros.extensiones!='xml' and filtros.extensiones!="" ) %} selected="tue" {% endif %}>Otras extensiones</option>
                              </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="form-line" style="margin-top: -15px">
                            <label>Fecha Inicial</label>

                             <input type="date" name="filtros[fecha_inicial]" id="fecha_inicial" value="{{filtros.fecha_inicial|date('Y-m-d')}}" >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="form-line" style="margin-top: -15px">
                            <label>Fecha Final</label>

                             <input type="date" name="filtros[fecha_final]" id="fecha_final" value="{{filtros.fecha_final|date('Y-m-d')}}" >
                        </div>
                    </div>
              
                </div>
                <div class="row clearfix">
                        <div class="row">
                          
                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect">Buscar</button>
                            </div>
                             <div class="col-lg-6">
                                <button type="button" id="btn-reset" class="btn btn-danger btn-lg m-l-15 waves-effect">Borrar</button>
                            </div>
                        
                    </div>
                </div>
            </form>
        </div>
    
</div>
</div>
</div>
{% endif %}
<div class="row clearfix">

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
        

            <div class="header">
              <h2>
                <strong>Facturas por comprobar</strong>
               
                
              </h2>
              <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="javascript:void(0);">Acciones</a>
                    </li>
                    <li>
                      <a href="#" onclick="exportar();return false;" >Exportar Excel</a>
                    </li>
                    
                  </ul>
                </li>
              </ul>
            </div>
            <div class="body">
              <div class="table-responsive">
                <table id="tableExport" class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                  <thead>
                    <tr>
                      <th>Folio</th>
                      <th>UUID</th>
                      <th>Proveedor</th>
                      <th>RFC</th>
                      <th>Fecha</th>
                      <th>Valor</th>
                      <th>IVA</th>
                      <th>Descuento</th>
                      <th>Total</th>
                      <th>Estado Factura</th>
                      <th>Cancelable</th>
                      <th>En Lista Negra</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for cuenta in cuentas %}  
                    <tr>

                      <td>{{cuenta.folio}}</td>
                        <td>{{ cuenta.uuid }}</td>
                      <th>{{cuenta.proveedor}}</th>
                      <td>{{cuenta.rfc}}</td>
                      <td>{{cuenta.fecha|date('d/m/Y')}}</td>
                      <td>$ {{cuenta.valor|number_format(2,'.',',')}}</td>
                      <td>$ {{cuenta.iva|number_format(2,'.',',')}}</td>
                      <td>$ {{cuenta.descuento|number_format(2,'.',',')}}</td>
                      <td>$ {{cuenta.total|number_format(2,'.',',')}}</td>
                      <td>{{cuenta.cfdi}}</td>
                      <td>{{cuenta.cancelable}}</td> 
                      <td>No</td>
                      <td> 
                      {% if cuenta.extension=="xml" %} 
                        <a href="{{path('detalle_factura',{id:cuenta.id})}}" data-toggle="modal" data-target="#exampleModalDetalle" class="col-dark-gray waves-effect m-r-20 detalle_factura" data-type="xml" data-id="{{cuenta.id}}" title="Ver Detalle">
                          <i class="material-icons">remove_red_eye</i>
                        </a>
                        {% endif %}
                       {% if (cuenta.pagoId==0 or cuenta.pagoId=="")   %} 
                        <a data-id="{{cuenta.id}}" href="#" data-toggle="modal" data-target="#exampleModalCenter" class="col-dark-gray waves-effect m-r-20 comprobante" title="Comprobar">
                            <i class="material-icons">note</i>
                          </a>
                        {% endif%}

                        {% if cuenta.extension!="csv" %}
                         {{ render(path('cuentas_por_cobrar_link_pdf',{id:cuenta.id})) }}
                        {% else %}
                         <a href="{{path('cuentas_por_cobrar_subir_archivos',{clienteid:pago.clienteId,cuentaid:cuenta.id})}}" data-id="{{cuenta.id}}" class="waves-effect m-r-20" title="Agregar Archivos">
                              <i class="material-icons">add</i>
                        </a> 

                        {% endif %}


                        {% if cuenta.file=="" %}
                         <a href="#" data-id="{{cuenta.id}}" class="waves-effect m-r-20 reportar_cuenta" title="Agregar Imagen Comprobante">
                              <i class="material-icons">add_a_photo</i>
                            </a> 
                        {% else %}
                        <!--Ver archivo de imagen o pdf adjunto!-->
                        <a href="{{path('detalle_factura',{id:cuenta.id,file:true})}}" data-toggle="modal" data-target="#exampleModalDetalle" class="col-dark-gray waves-effect m-r-20 detalle_factura" data-id="{{cuenta.id}}" title="Ver Imagen Comprobante" data-type="file">
                         <i class="material-icons">photo</i>
                        </a>
                        
                        {% endif %}

                          {% if is_granted('ROLE_ADMIN') %}

                         <a data-id="{{cuenta.id}}" href="{{path('cuentas_por_cobrar_delete',{id:cuenta.id})}}" class="col-dark-gray waves-effect m-r-20 eliminar" title="Eliminar">
                            <i class="material-icons">delete_sweep</i>
                          </a>
                          {% endif %}

                       </td>
                    </tr>
                    {% endfor %}

                  </tbody>

                </table>
                  <div class="count">
                 Total Registros {{ pagination.getTotalItemCount }}
                </div>
                <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Exportable Table -->
      <!-- #START# Table With State Save -->

      <!-- #END# Table With State Save -->
      <!-- #START# Add Rows -->
      <!-- #END# Add Rows -->
    </div>
  </section>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form action="{{asset('clientes/sincronizar/comprobante')}}" id="form-modal" method="POST" >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Comprobante de pago</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <!--
                  <div class="form-line">
                     <select name="cliente" id="cliente" class="col-12" id="sel2">
                         <option value="">Seleccione un cliente</option>
                          {% for cliente in clientes %}
                          <option value="{{cliente.id}}" >{{cliente.razonSocial}}</option>

                          {% endfor %}
                      </select>
                      
                  </div>
                  !-->
                  <div class="form-group" id="div-folio" >
                    <div class="form-line">
                      <input type="hidden" name="id" id="cobroid" class="form-control" placeholder="Ingrese un número de pago" value="">
                      <input type="text" name="pago" id="pago" class="form-control" placeholder="Ingrese un número de pago">
                    </div>
                  </div>
                </div>
               
              </div>

            </div>
        <div class="modal-footer">
          <button type="button" id="btn-enviar" class="btn btn-primary">Guardar</button>
        </div>
        </form>

      </div>
    </div>
  </div>


  <div class="modal fade" id="exampleModalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Detalle Comprobante de pago</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-body">
       

        </div>
        <div class="modal-footer">

        <button type="button" data-url="{{path('cuentas_por_cobrar_delete_file')}}" class="btn btn-danger" data-type="pdf" id="eliminar_archivo" data-id="" >Eliminar Archivo</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="reportarCuenta" tabindex="-1" role="dialog" aria-labelledby="reportarCuentaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Archivo Adjunto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form  name="form-cuenta" method="post" id="form-cuenta" action="{{path('cobros_new_file')}}" enctype="multipart/form-data" >
        <input type="hidden" id="cobroid_file" name="cobroid" class="cobroid" value="" >
        <div class="modal-body">
        
           <div class="form-group">
            <div class="form-line">
              <input type="file" class="form-control" name="file" id="file_cuenta" accept="image/*,application/pdf" placeholder="Archivo Adjunto">
            </div>
          </div>
         
        </div>
        <div class="modal-footer">
          <button type="submit" id="btn-cuenta-submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
        
      </div>
    </div>
  </div>

{% if pago %}
    <div class="modal fade" id="modalNuevaFactura" tabindex="-1" role="dialog" aria-labelledby="exampleModalEditarTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Comprobante de pago</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form  name="form-pago" method="post" id="form-pago" action="{{path('cuentas_por_cobrar_pago_manual',{pagoid:pago.id})}}" enctype="multipart/form-data" >
        <input type="hidden" id="pagoid" name="pagoid" class="pagoid" >
        <div class="modal-body">
         

          <div class="form-group">
            <div class="form-line">
              <input type="text" name="valor" id="valor" class="form-control CurrencyInput valor" placeholder="Valor" value="">
            </div>
          </div>

           <div class="form-group">
            <div class="form-line">
              <input type="text" name="iva" id="iva" class="form-control CurrencyInput iva" placeholder="Iva" value="" >
            </div>
          </div>
          <div class="form-group" id="div-folio" >
            <div class="form-line">
              <input type="text" name="total" id="total" class="form-control CurrencyInput total" placeholder="Total" readonly="true">
            </div>
          </div>
         
        </div>
        <div class="modal-footer">
          <button type="submit" id="btn-pagos-submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
        
      </div>
    </div>
  </div>
{% endif %}
{% endblock %} 

{% endblock %} 

{% block body_javascript %}
<script type="text/javascript">
    
  function exportar(){
    $("#exportar").val("true");
    $("#frm-filtros-avanzado").submit();

   }

   function sumatotal(){

    var valor = parseFloat($('#valor').val().replace(/,/g, ''));
    var  iva=parseFloat($('#iva').val().replace(/,/g, ''));
    var total=0;
    
    if(valor>=0){
      total=valor;
    }
    if(iva>=0){
      total=valor+iva;
    }

    valortotal = parseFloat(total).toLocaleString('en-US', {
        style: 'decimal',
        maximumFractionDigits: 2,
        minimumFractionDigits: 2
      });

    $("#total").val(valortotal);
   }

  $(document).ready(function(){
    var id="";

     $('input.CurrencyInput').on('blur', function() {
      const value = this.value.replace(/,/g, '');
      this.value = parseFloat(value).toLocaleString('en-US', {
        style: 'decimal',
        maximumFractionDigits: 2,
        minimumFractionDigits: 2
      });
    });



     $('#valor').on('blur', function() {
      sumatotal();
    });


    $('#iva').on('blur', function() {
      if($(this).val()=="NaN"){
        $(this).val('0.00');
      }
      sumatotal();
    });

    $(".detalle_factura").click(function(e){
      e.preventDefault();
      var id=$(this).data('id');
      var url=$(this).attr('href');
      var type=$(this).data('type');

      if(type=='xml'){
       $("#eliminar_archivo").hide(); 
      }else{
         $("#eliminar_archivo").show();
         $("#eliminar_archivo").data('type',type);
         $("#eliminar_archivo").data('id',id);
      }
      
      $.get(url,{},function(data){
        $('#modal-body').html(data);
        $("#exampleModalDetalle").modal('show');

      })
    })

    $("#eliminar_archivo").click(function(e){
      e.preventDefault();
      url=$(this).data('url');
      type=$(this).data('type');
      id=$(this).data('id');
      data={type:type,id:id};

      $.get(url,data,function(data){
        
        $("#exampleModalDetalle").modal('hide');

        swal({
          title: "Ok!",
          text: data,
          type: "success"
      }).then(function() {
           location.reload();
      });

      

      })

    })

    $(".eliminar").click(function(e){
      e.preventDefault();
      var url=$(this).attr('href');

        swal({
          title: "Eliminar",
          text: "Está seguro de eliminar este registro?",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          cancelButtonText: "No",
          confirmButtonText: "Si, Eliminar!",
          closeOnConfirm: false
      }, function () {
          location.href=url;
      });

    })

    $(".reportar_cuenta").click(function(e){
        e.preventDefault();
        var id=$(this).data('id');
        $("#cobroid_file").val(id);
        $("#reportarCuenta").modal('show');

      })

     $("#btn-reset").click(function(e){
        e.preventDefault();
        $('#tipo').val("");
        $('#cliente').val("");
        $('#fecha_inicial').val("");
        $('#fecha_final').val("");
        $("#extensiones").val("");
        $('#frm-clientes-avanzado').submit();
     })

    $("#btn-enviar").click(function(e){
      e.preventDefault();
      var action=$("#form-modal").attr('action');
      var data=$("#form-modal").serializeArray();

      $.post(action,data,function(data){
        if(data=="ok"){
          swal("Cobro asociado exitsamente");
          location.reload();
        }else{
          swal(data);
        }
        $("#exampleModalCenter").modal('hide');
      })
    })

    $(".comprobante").click(function(e){
      e.preventDefault();
      $("#cobroid").val($(this).data('id'));
      $("#pago").val("");

    })
        
  })
</script>

{% endblock %}




