{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}Clientes{% endblock %}

{% block global_actions %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<div class="form-action form-action-search  action-search">
    <form method="get" action="/admin/">
    <input type="hidden" name="action" value="search">
    <input type="hidden" name="entity" value="Clientes">
    <input type="hidden" name="submenuIndex" value="">
    <div class="form-group">
        <div class="form-widget">
        <input class="form-control" type="search" name="query" value="" placeholder="Buscar">
        </div>
    </div>
</form>
</div>
    <div class="button-action">
        <a class="btn btn-default" href="{{ path('clientes_new') }}">Nuevo Cliente</a> 
    </div>
</div>
</div>

  
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">

        <div class="header">
            <h2>
                <strong>Lista Clientes</strong>
            </h2>
            
        </div>
    <div class="card-body table-responsive">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th class="string">Documento</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Placa</th>
                <th>CreatedAt</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.documento }}</td>
                <td>{{ cliente.nombres }}</td>
                <td>{{ cliente.apellidos }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.celular }}</td>
                <td>{{ cliente.placa }}</td>
                <td>{{ cliente.createdAt ? cliente.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cliente.tipo }}</td>
                <td>
                    <a href="{{ path('clientes_edit', {'id': cliente.id}) }}">
                        <i class="fa fa-fw fa-pencil"></i>
                    </a>
                       <a href="{{ path('clientes_show', {'id': cliente.id}) }}">
                        <i class="fa fa-fw fa-eye"></i>
                    </a>
                </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}

