{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}Clientes{% endblock %}

{% block busqueda_general %}

    <div class="search-box">
        <form method="get" action="/admin/clientes">
            <input type="hidden" name="action" value="search">
            <input id="search" type="search" name="query" value="" placeholder="Buscar">
            <button class="icon">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
{% endblock %}

{% block global_actions %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="button-action">
        <a class="btn btn-default" href="{{ path('clientes_new') }}">Nuevo Cliente</a> 
            </div>
    </div>
</div>
  
{% endblock %}

{% block main %}

<div class="row clearfix">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                <strong>Busqueda Avanzada</strong>
            </h2>
           
        </div>
        <div class="body">
            <form id="frm-clientes-avanzado">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                              <select name="tipo_cliente" id="tipo_cliente">
                                    <option value="">Tipo Cliente</option>
                                    <option value="1" {% if tipo_cliente==1 %} selected='true' {% endif %}>Cliente Wallet</option>
                                    <option value="2" {% if tipo_cliente==2 %} selected='true' {% endif %}>Admin Flotilla</option>
                              </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                       <div class="form-group">
                            <div class="form-line">
                              <select name="estado" id="estado">
                                    <option value="">Estado</option>
                                    <option value="1" {% if estado==1 %} selected='true' {% endif %}>Activo   </option>
                                     <option value="0" {% if estado==0 %} selected='true' {% endif %}>Suspendido</option>
                                    
                              </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                       <div class="form-group">
                            <div class="form-line">
                              <select name="estados" id="estados" data-url="{{asset('admin/delegaciones')}}" >
                                    <option value="">Estados</option>
                                   {% for depto in estados %}
                                   <option {% if estados_form==depto.id %} selected='true' {% endif %}< value="{{depto.id}}">{{depto.estado}}</option>
                                   {% endfor %}
                              </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                       <div class="form-group">
                            <div class="form-line">
                              <select name="delegacion" id="delegacion">
                                    <option value="">Delegación</option>
                                   {% for delegacion in delegaciones %}
                                   <option {% if delegacion_form==delegacion.id %} selected='true' {% endif %}< value="{{delegacion.id}}">{{delegacion.municipio}}</option>
                                   {% endfor %}
                              </select>
                            </div>
                        </div>
                    </div>
                  
                </div>
                <div class="row clearfix">
                        <div class="row">
                          
                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect">Buscar</button>
                            </div>
                             <div class="col-lg-6">
                                <button type="button" id="btn-reset" class="btn btn-danger btn-lg m-l-15 waves-effect">Borrar</button>
                            </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

       

        <div class="card">

        <div class="header">
            <h2>
                <strong>Lista Clientes</strong>
            </h2>
            
        </div>
    <div class="card-body table-responsive">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Documento', 'c.documento') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Nombres', 'c.nombres') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Apellidos', 'c.apellidos') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Email', 'c.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Celular', 'c.celular') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Placa', 'c.placa') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Fecha', 'c.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Tipo', 'c.tipo') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Estado', 'c.estado') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.documento }}</td>
                <td>{{ cliente.nombres }}</td>
                <td>{{ cliente.apellidos }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.celular }}</td>
                <td>{{ cliente.placa }}</td>
                <td>{{ cliente.createdAt ? cliente.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tipo[cliente.tipo] }}</td>
                <td>{{ cliente.estado }}</td>
                <td>
                    <a href="{{ path('clientes_edit', {'id': cliente.id}) }}">
                        <i class="fa fa-fw fa-pencil"></i>
                    </a>
                    <a href="{{ path('clientes_show', {'id': cliente.id}) }}">
                        <i class="fa fa-fw fa-eye"></i>
                    </a>

                    <a title="recuperar password" href="{{ path('email_reset_password', {'email': cliente.email}) }}" class="email_reset_password">
                        <i class="fa fa-fw fa-envelope-o"></i>
                    </a>
                </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="16">Sin Resultados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="navigation">
            {{ knp_pagination_render(clientes) }}
</div>
</div>
</div>

{% endblock %}

{% block body_javascript %}

<script type="text/javascript">

  $(document).ready(function(){

    var id=$("#estados").val();
    if(id!=""){
         var id=$("#estados").val();
        var url=$("#estados").data('url');
        $.get(url,{'id':id},function(html){
            $('#delegacion').html(html);
            $('#delegacion').trigger("onchange");
            $('#delegacion').formSelect();
        })
    }

    $("#estados").change(function(e){
        var id=$(this).val();
        var url=$(this).data('url');
        $.get(url,{'id':id},function(html){
            $('#delegacion').html(html);
            $('#delegacion').trigger("onchange");
            $('#delegacion').formSelect();
        })
        
    })

     $("#btn-reset").click(function(e){
        e.preventDefault();
        $('#tipo_cliente').val("");
        $('#delegacion').val("");
        $('#frm-clientes-avanzado').submit();
     })
  })
 
</script>
 

{% endblock %}

