{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}Nuevo Cliente{% endblock %}

{% block global_actions %}
<div class="form-action form-action-search  action-search">
    <form method="get" action="/admin/">
                                          
    </form>
    <div class="button-action">
        <a class="btn btn-default" href="{{ path('clientes_new') }}">Nuevo Cliente</a> 
    </div>
</div>


  
{% endblock %}

{% block main %}

    <table class="table datagrid">
        <thead>
            <tr>
                <th>Id</th>
                <th class="string">Documento</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Placa</th>
                <th>CreatedAt</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.documento }}</td>
                <td>{{ cliente.nombres }}</td>
                <td>{{ cliente.apellidos }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.celular }}</td>
                <td>{{ cliente.placa }}</td>
                <td>{{ cliente.createdAt ? cliente.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cliente.tipo }}</td>
                <td>
                    <a href="{{ path('clientes_edit', {'id': cliente.id}) }}">
                        <i class="fa fa-fw fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}

