{% extends 'base.html.twig' %}


{% block body %}
  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xl-6 col-lg-5 col-md-4 col-sm-12">
            <ul class="breadcrumb breadcrumb-style">
              <li class="breadcrumb-item 	bcrumb-1">
                <a href="{{asset('/')}}">
                  <i class="material-icons">home</i> Home</a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="javascript:void(0);">Clientes</a>
              </li>
            </ul>
          </div>
          {% if is_granted('ROLE_ADMIN') %}

          <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12 text-right">
            <div class="breadcrumb-chart m-l-50">
              <div class="float-right m-r-10">
                <button type="button" class="btn btn-primary  waves-effect nuevo" data-toggle="modal" data-target="#exampleModalCenter">Nuevo Cliente</button>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      {% for message in app.flashes('success') %}
       <div class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
          </button>
          {{message}}
      </div>
      {% endfor %}
      {% for message in app.flashes('bad') %}
      <div class="alert bg-pink alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
          </button>
          {{message}}
      </div>
      {% endfor %}
      
      <!-- Basic Table -->
       <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body table-bordered table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                {% for cliente in clientes %}  
                  <tr class="rows">
                    <th scope="row" id="td_id" >{{cliente.id}}</th>
                    <td id="td_razonSocial">{{cliente.razonSocial}}</td>
                    <td id="td_documento">{{cliente.documento}}</td>
                    <td id="td_email">{{cliente.email}}</td>
                    <td id="td_celular">{{cliente.celular}}</td>
                    <td id="td_direccion">{{cliente.direccion}}</td>
                    
                  
                    <td>
                    {% if is_granted('ROLE_ADMIN') %}

                      <a href="#" class="col-dark-gray waves-effect m-r-20 edit" title="Editar">
                      <i class="material-icons">edit</i>
                    </a>
                    <a href="{{path('clientes_delete',{id:cliente.id})}}" class="col-dark-gray waves-effect m-r-20" title="Eliminar">
                      <i class="material-icons">delete</i>
                    </a>
                    {% if cliente.estado=='Activo' %}
                    <a href="{{path('clientes_suspender',{id:cliente.id})}}" class="col-dark-gray waves-effect m-r-20" title="Suspender">
                      <i class="material-icons">pause</i>
                    </a>
                    {% else %}
                    <a href="{{path('clientes_activar',{id:cliente.id})}}" class="col-dark-gray waves-effect m-r-20" title="Activar">
                      <i class="material-icons">play_arrow</i>
                      
                    </a>
                    {% endif %}

                    {% endif %}
                    <a href="{{path('pagos_cliente_id',{id:cliente.id})}}" class="col-dark-gray waves-effect m-r-20" title="Pagos">
                      <i class="material-icons">attach_money</i>
                    </a>
                  </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <form action="{{asset('clientes/new')}}">

    <input type="hidden" name="id" id="id" value="0">
  
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Formulario Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <div class="form-line">
              <input type="text" name="razonSocial" id="razonSocial" class="form-control" placeholder="Razón Social">
            </div>
          </div>
          <div class="form-group">
            <div class="form-line">
              <input type="text" name="documento" id="documento" class="form-control" placeholder="RFC">
            </div>
          </div>
          <div class="form-group">
            <div class="form-line">
              <input type="text" name="email" id="email" class="form-control" placeholder="email">
            </div>
          </div>
          <div class="form-group">
            <div class="form-line">
              <input type="text" name="celular" id="celular" class="form-control" placeholder="Teléfono">
            </div>
          </div>
          <div class="form-group">
            <div class="form-line">
              <input type="text" name="direccion" id="direccion" class="form-control" placeholder="DIrección">
            </div>
          </div>

          <div class="form-group">
            <p>
                <b>Auxiliar</b>
            </p>
              <select class="col-12" name="auxiliar" id="auxiliar" style="width: 100%">
                {% for auxiliar in auxiliares %}
                <option value="{{auxiliar.id}}">{{auxiliar.razonSocial}}</option>
                {% endfor %}
              </select>
          </div>


        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar Cliente</button>
        </div>
      </div>
    </div>
  </form>
  </div>
{% endblock %} 



{% block body_javascript %}
<script type="text/javascript">

  $('document').ready(function(){

    $(".nuevo").click(function(){
      $("#id").val("");
      $("#razonSocial").val("");
      $("#documento").val("");
      $("#email").val("");
      $("#celular").val("");
      $("#direccion").val("");
    })

    $('.edit').click(function(e){

      e.preventDefault();
      var rows=$(this).closest('tr');

      $("#id").val($(rows).find('#td_id').html());
      $("#razonSocial").val($(rows).find('#td_razonSocial').html());
      $("#documento").val($(rows).find('#td_documento').html());
      $("#email").val($(rows).find('#td_email').html());
      $("#celular").val($(rows).find('#td_celular').html());
      $("#direccion").val($(rows).find('#td_direccion').html());

      $("#exampleModalCenter").modal('show')

    })
  })       

</script>
{% endblock body_javascript %}

