<style type="text/css">
    table {
        border-collapse: collapse;
    }
     table  th {
        border: 1px solid #333; 
    }
    table  td {
        border: 1px solid #333; 
    }
</style>

<div class="table-responsive">
  <table >
    <thead>
      <tr>
        <th >Nombre</th>
        <th >Cargo</th>
        <th>Fecha Creación</th>
        <th>Fecha Alta</th>
        <th >D</th>
        <th >L</th>
        <th >M</th>
        <th >MI</th>
        <th >J</th>
        <th >V</th>
        <th >S</th>
      </tr>
    </thead>
    <tbody>
      {% for objempleado in empleados %}
      {% set empleado=objempleado.empleado %}

      <tr id="horario_empleado_{{empleado.id}}" data-empleado="{{empleado.id}}" >
        <td >{{empleado.nombres}}</td>
        <td >{{empleado.cargo}}</td>
        <td >{{empleado.createdAt|date('d/m/y')}}</td>
        <td>
          {% if empleado.fechaAlta!="" %}
        {{empleado.fechaAlta|date('d/m/y')}}
        {% else %}
         NA 
       {% endif %}
       </td>

        <td  >
          {% if objempleado.horario.D=="A"  %}
           A
         {% endif %}
         {% if objempleado.horario.D=="D"  %}
           D
         {% endif %}
        
         {% if objempleado.horario.D=="F"  %}
           F
         {% endif %}
         {% if objempleado.horario.D=="I"  %}
           I
         {% endif %}
         {% if objempleado.horario.D=="V"  %}
           V
         {% endif %}
        
          
        </td>
        <td >
         {% if objempleado.horario.L=="A"  %}
           A
         {% endif %}
         {% if objempleado.horario.L=="D"  %}
           D
         {% endif %}
         {% if objempleado.horario.L=="F"  %}
           F
         {% endif %}
         {% if objempleado.horario.L=="I"  %}
           I
         {% endif %}
         {% if objempleado.horario.L=="V"  %}
           V
         {% endif %}
        
        </td>
        <td >
          {% if objempleado.horario.M=="A"  %}
           A
         {% endif %}
         {% if objempleado.horario.M=="D"  %}
           D
         {% endif %}
         {% if objempleado.horario.M=="F"  %}
           F
         {% endif %}
         {% if objempleado.horario.M=="I"  %}
           I
         {% endif %}
         {% if objempleado.horario.M=="V"  %}
           V
         {% endif %}
         
      </td>
      <td >
          {% if objempleado.horario.MI=="A"  %}
           A
         {% endif %}
         {% if objempleado.horario.MI=="D"  %}
           D
         {% endif %}
         {% if objempleado.horario.MI=="F"  %}
           D
         {% endif %}
         {% if objempleado.horario.MI=="I"  %}
           I
         {% endif %}
         {% if objempleado.horario.MI=="V"  %}
           V
         {% endif %}
         
      </td>
      <td >
          {% if objempleado.horario.J=="A"  %}
           A
         {% endif %}
         {% if objempleado.horario.J=="D"  %}
           D
         {% endif %}
         {% if objempleado.horario.J=="F"  %}
           F
         {% endif %}
         {% if objempleado.horario.J=="I"  %}
           I
         {% endif %}
         {% if objempleado.horario.J=="V"  %}
           V
         {% endif %}
        
      </td>
      <td >
          {% if objempleado.horario.V=="A"  %}
           A
         {% endif %}
         {% if objempleado.horario.V=="D"  %}
           D
         {% endif %}
         {% if objempleado.horario.V=="F"  %}
           F
         {% endif %}
         {% if objempleado.horario.V=="I"  %}
           I
         {% endif %}
         {% if objempleado.horario.V=="V"  %}
           V
         {% endif %}
         
      </td>
      <td >
          {% if objempleado.horario.S=="A"  %}
           A
         {% endif %}
         {% if objempleado.horario.S=="D"  %}
           D
         {% endif %}
         {% if objempleado.horario.S=="F"  %}
           F
         {% endif %}
         {% if objempleado.horario.S=="I"  %}
           I
         {% endif %}
         {% if objempleado.horario.S=="V"  %}
           V
         {% endif %}

      </td>

    </tr>
    {% endfor %}


    </tbody>
  </table>
</div>