{% extends 'base.html.twig' %}

{% block content_title %}Mi Cuenta{% endblock %}

{% block busqueda_general %}
{% endblock %}

{% block content %}

{% block body %}


  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xl-6 col-lg-5 col-md-4 col-sm-12">
            <ul class="breadcrumb breadcrumb-style">
              <li class="breadcrumb-item  bcrumb-1">
                <a href="{{asset('/')}}">
                  <i class="material-icons">home</i> Home</a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="javascript:void(0);">Perfil</a>
              </li>
            </ul>
          </div>
      
        </div>
      </div>
    {% if cliente %}

      <!-- Basic Table -->
       <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="card">
        <div class="header">
            <h2>
                <strong>{{cliente.razonSocial}}</strong>
            </h2>
            
        </div>
    <div class="card-body table-responsive">
   <form action="{{path('clientes_edit',{id:cliente.id})}}" method="POST" enctype="multipart/form-data" >     
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Documento</th>
                <td>{{ cliente.documento }}</td>
            </tr>
            <tr>
                <th>Raz칩n Social</th>
                <td>{{ cliente.razonSocial }}</td>
            </tr>
            
            <tr>
                <th>Email</th>
                <td>{{ cliente.email }}</td>
            </tr>
            <tr>
                <th>Indicativo</th>
                <td>{{ cliente.indicativo }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ cliente.celular }}</td>
            </tr>
            <tr>
                <th>Pais</th>
                <td>{{ cliente.pais }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>
                    {% if cliente.avatar!="" %}
                            <img src="{{asset(cliente.avatar)}}" width="32" height="32" alt="User">
                    {% else %}
                            <img src="{{asset('adminlte/assets/images/user.png')}}" width="32" height="32" alt="User">
                    {% endif%}
                    <br/><br/>
                    <input type="file" class="file" name="avatar" id="avatar" >
                </td>  
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ cliente.createdAt ? cliente.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ cliente.updatedAt ? cliente.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
           
        </tbody>
    </table>


        <button class="btn btn-success" type="submit" >Guardar</buttob>
        </form>

    </div>
</div>
</div>

{% else %}

       <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="card">
        <div class="header">
            <h2>
                <strong>{{app.user.username}}</strong>
            </h2>
            
        </div>
    <div class="card-body table-responsive">
   <form action="{{path('perfil_edit',{id:app.user.id})}}" method="POST" enctype="multipart/form-data" >     
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ app.user.id }}</td>
            </tr>
            <tr>
                <th>Nombre Usuario</th>
                <td>{{ app.user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ app.user.email }}</td>
            </tr>
             <tr>
             <th>Avatar</th>
                <td>
                    {% if app.user.avatar!="" %}
                            <img src="{{asset(app.user.avatar)}}" width="32" height="32" alt="User">
                    {% else %}
                            <img src="{{asset('adminlte/assets/images/user.png')}}" width="32" height="32" alt="User">
                    {% endif%}
                    <br/><br/>
                    <input type="file" class="file" name="avatar" id="avatar" >
                </td>  
            </tr>
        </tbody>
    </table>


    <button class="btn btn-success" type="submit" >Guardar</buttob>
    </form>

</div>
</div>
</div>

{% endif %}
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

    <div class="card">
     <form action="{{path('cambiar_password')}}" method="POST">
        <div class="header">
            <h2>
                Cambiar Contrase침a
            </h2>
        </div>
        <div class="card-body ">
         
          <div><label for="user_password" class="required active">Nueva Contrase침a</label>
          <input type="password" id="new_password" name="_password" required="required" maxlength="10" value=""></div>

           <div><label for="user_password" class="required active">Confirmar Contrase침a</label>
          <input type="password" id="new_password" name="_password_check" required="required" maxlength="10" value=""></div>
          
        </div>
         <div class="card-footer">

            <button type="submit" class="btn btn-outline-success" >Modificar</button>
            <button type="reset" class="btn btn-outline-danger" >Cancelar</button>
        </div>
        </form>
    </div>
</div>

      </div>
    </div>
  </section>







{% endblock %}


{% endblock %}

{% block body_javascript %}
<script type="text/javascript">
    $(document).ready(function(){
       

    

    })

</script>
{% endblock body_javascript %}

