{% extends 'base.html.twig' %}

{% block content_title %}Detalle Cliente{% endblock %}

{% block body %}
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="card">
        <div class="header">
            <h2>
                <strong>{{cliente.nombres}}</strong>
            </h2>
            
        </div>
    <div class="card-body table-responsive">
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Documento</th>
                <td>{{ cliente.documento }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ cliente.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ cliente.apellidos }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ cliente.email }}</td>
            </tr>
            <tr>
                <th>Indicativo</th>
                <td>{{ cliente.indicativo }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ cliente.celular }}</td>
            </tr>
            <tr>
                <th>Pais</th>
                <td>{{ cliente.pais }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ cliente.avatar }}</td>
            </tr>
            <tr>
                <th>Placa</th>
                <td>{{ cliente.placa }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ cliente.createdAt ? cliente.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ cliente.updatedAt ? cliente.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Terminos</th>
                <td>Si</td>
            </tr>
            <tr>
                <th>Politicas</th>
                <td>Si</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ cliente.tipo }}</td>
            </tr>
        </tbody>
    </table>

     <a class="btn btn-default" href="{{ path('clientes_index') }}">Volver a la lista</a>

    <a class="btn btn-success" href="{{ path('clientes_edit', {'id': cliente.id}) }}">Editar</a>
    <br/><br/>
    {{ include('clientes/_delete_form.html.twig') }}

</div>
</div>
</div>
{% if (wallet_cliente) %}

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="card">
        <div class="header bg-cyan ">
            <h2>
                Saldo Wallet / {{cliente.nombres}}
            </h2>
            
        </div>
        <div class="card-body ">
           <h2>$ {{wallet_cliente.saldo |number_format(2)}} MX</h2>

        </div>
         <div class="card-footer">

            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal_agregar_saldo" >Agregar Saldo</button>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modal_quitar_saldo">Quitar Saldo</button>
        </div>

   

    </div>
    </div>
    {% else %}

  {% endif%}  
</div>

{% if (wallet_flotilla) %}


<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<div class="modal fade" id="modal_agregar_saldo" tabindex="-1" role="dialog" aria-labelledby="modal_agregar_saldo" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Saldo Cliente ( {{cliente.nombres}} )</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_agregar_saldo" action="{{path('cliente_actualizar_saldo',{id:cliente.id})}}" method="POST">
                    <input type="hidden" name="wallet_flotilla" id="wallet_flotilla" value="{{wallet_flotilla.id}}" >
                    <input type="hidden" name="wallet_cliente" id="wallet_cliente" value="{{wallet_cliente.id}}" >
                    <input type="hidden" name="accion" value="agregar">
                    <label for="email_address">Saldo Wallet Flotilla</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" id="saldo_flotilla" class="form-control" data-saldo={{wallet_flotilla.saldo}} readonly="true" placeholder="" value="$ {{wallet_flotilla.saldo|number_format(2)}} MX">
                        </div>
                    </div>
                    <label for="password">Valor a transferir</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="number" min="0" max="{{wallet_flotilla.saldo}}"" id="saldo_wallet" name="valor" class="form-control" placeholder="$ valor en pesos mexicanos">
                        </div>
                    </div>

                    <br>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success waves-effect" id="btn_save_transferencia">Guardar</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
</div>


<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<div class="modal fade" id="modal_quitar_saldo" tabindex="-1" role="dialog" aria-labelledby="modal_quitar_saldo" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Quitar Saldo Cliente ( {{cliente.nombres}} )</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_quitar_saldo" action="{{path('cliente_actualizar_saldo',{id:cliente.id})}}" method="POST">
                    <input type="hidden" name="wallet_flotilla" id="wallet_flotilla" value="{{wallet_flotilla.id}}" >
                    <input type="hidden" name="wallet_cliente" id="wallet_cliente" value="{{wallet_cliente.id}}" >
                    <input type="hidden" name="accion" value="quitar">

                    <label for="email_address">Saldo Wallet Cliente</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" readonly="true" id="frm_quitar_saldo_wallet_cliente" class="form-control" placeholder="" value="{{wallet_cliente.saldo|number_format(2)}} MX" data-saldo="{{wallet_cliente.saldo}}" >
                        </div>
                    </div>
                    <label for="password">Valor a descontar</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="number" name="valor" id="frm_quitar_saldo_cliente" class="form-control" placeholder="$ valor en pesos mexicanos">
                        </div>
                    </div>

                    <br>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success waves-effect" id="btn_save_quitar_saldo">Guardar</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}

{% block body_javascript %}
<script type="text/javascript">
    $(document).ready(function(){
       

        $('#form_agregar_saldo').validate({
        rules: {
            'saldo_wallet': {
                required: true,
                min:1,
                max:$("#saldo_flotilla").data('saldo')
            },
        },
        messages:{
            'saldo_wallet':{
                required:'Ingresa el saldo a transferir',
                min:'Ingresa un valor valido',
                max:'El valor a transferir no debe superar el de la wallet de la flotilla'
            }
        },
        highlight: function (input) {
            $(input).parents('.form-line').addClass('error');
        },
        unhighlight: function (input) {
            $(input).parents('.form-line').removeClass('error');
        },
        errorPlacement: function (error, element) {
            $(element).parents('.form-group').append(error);
        }
    });


    $('#form_quitar_saldo').validate({
        rules: {
            'valor': {
                required: true,
                min:1,
                max:$('#frm_quitar_saldo_wallet_cliente').data('saldo')
            },
        },
        messages:{
            'valor':{
                required:'Ingresa el saldo a transferir',
                min:'Ingresa un valor valido',
                max:'El valor a transferir no debe superar el saldo actual de la flotilla'
            }
        },
        highlight: function (input) {
            $(input).parents('.form-line').addClass('error');
        },
        unhighlight: function (input) {
            $(input).parents('.form-line').removeClass('error');
        },
        errorPlacement: function (error, element) {
            $(element).parents('.form-group').append(error);
        }
    });

    $("#btn_save_transferencia").click(function(e){
        e.preventDefault();
        var valid=$('#form_agregar_saldo').valid();
        if(valid){
            $('#form_agregar_saldo').submit();
        }
    })

    $("#btn_save_quitar_saldo").click(function(e){
        e.preventDefault();
        var valid=$('#form_quitar_saldo').valid();
        if(valid){
            $('#form_quitar_saldo').submit();
        }
    })

    })

</script>
{% endblock body_javascript %}

